---
import Robot from '@/components/robot';
import GridDecoration from '@/components/grid-decoration';
import styles from './hero.module.css';

interface Props {
  feature: string;
}
const { feature } = Astro.props;
---

<article class={styles.container}>
  <GridDecoration client:visible />
  <div style="max-width: 1200px; margin: 0 auto; padding: var(--space-2) var(--space-9);">
    <div style="display: flex; flex-direction: column; gap: var(--space-2); align-items: center;">
      <Robot client:visible />
      <h1 style="font-size: var(--font-size-9); margin-bottom: var(--space-4); text-align: center;">
        {feature} your <span class={styles.text}>robots.txt</span>
      </h1>
      <p style="font-size: var(--font-size-7); color: var(--gray-11);">The right robots.txt file for your project</p>
    </div>
    <p style="text-align: center; margin-top: var(--space-5);">
      <a
        href="https://www.producthunt.com/posts/robots-txt-generator-3"
        target="_blank"
        rel="noopener noreferrer"
        class={styles.ph}
        title="Robots.txt Generator was ranked daily #2 for May 24th, 2024 on Product Hunt"
      >
        <img src="/images/ph.svg" alt="Product Hunt Badge" width="150" height="45" />
      </a>
    </p>
  </div>
</article>
