.container {
  border-bottom: 1px solid var(--gray-4);
  margin-bottom: var(--space-4);
  height: 85dvh;
  display: flex;
  align-items: center;
}

.text {
  background-color: var(--gray-4);
  padding: var(--space-2);
  font-weight: lighter;
  border-radius: var(--radius-4);
  font-family: var(--code-font);
}
