:root {
  --code-font: "Fira Code", Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  --text-area-border-width: 0px;
}

body {
  background-color: var(--color-background, #ffffff);
}

html.dark body {
  background-color: var(--color-background, #0a0a0a);
}

html.dark .rt-Container,
.dark .rt-Container {
  background-color: var(--color-background, #0a0a0a);
}

textarea {
  border-style: none;
  border-color: transparent;
  overflow: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
