.container {
  padding: var(--space-6) 0;
  border-top: 1px solid var(--gray-4);
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-6);

  .title {
    margin-bottom: var(--space-3);
  }

  .text {
    font-size: var(--font-2);
    margin-bottom: var(--space-3);
    .code {
      font-family: var(--code-font);
      padding: var(--space-1);
      background-color: var(--gray-4);
      border-radius: var(--radius-2);
      font-weight: lighter;
    }
  }
}
