---
import BaseLayout from "@/layouts/BaseLayout.astro";
import RobotsAnalyzer from "@/components/analyzer";
---

<BaseLayout title="Analyze Robots - Robots.txt Generator">
  <main>
    <RobotsAnalyzer client:load />
  </main>
</BaseLayout>
