---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/hero";
import Validate from "@/components/validate";
---

<BaseLayout title="Validator - Robots.txt Generator">
  <main>
    <Hero client:load feature="Validate" />
    <Validate client:load />
  </main>
</BaseLayout>
