.header {
  border-bottom: 1px solid var(--gray-4);
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 2;

  .link {
    text-decoration: none;
    color: var(--gray-12);
    display: flex;
  }

  .nav {
    color: var(--gray-12);
  }
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}