.decoration {
  --unit: 4px;
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --border-color: var(--accent-3);
  --active-color: var(--accent-4);
  
  border-top: 1px solid var(--border-color);
  mask-image: radial-gradient(ellipse 100% 200% at 50% 0%, #000 40%, transparent 50%);
  opacity: 0.6;
  overflow: hidden;
  max-width: 100%;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.cell {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  flex-shrink: 0;
  height: calc(var(--unit) * 15);
  width: calc(var(--unit) * 15);
  transition: background-color 0.6s var(--ease-out);
}

.cell.active {
  background-color: var(--active-color);
}